
@import url(../../App.css);

.products{
    display: flex;

}
.header{
    background-color: #fff;
    padding: 20px;
    margin: 0;
}
.product-item{
    width: 31%;
    display: flex;
    background-color: #fff;
    padding: 20px;
    align-items: baseline;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.basket{
    text-align: right;
    padding: 10px 0;
}
.basket button{
    background-color: blueviolet;
    color: #fff;
    padding: 10px 20px;
}
